*{
    margin: 0;
    padding: 0;
}
section{
    height: 45vh;
    width: 35vw;
}
input{
    width: 30vw;
    height: 4vh;
    background-color: rgb(225, 255, 221);
    border-radius: 10px;
    padding: 2px;
    border: 1px solid black;
}
h3{
    margin-bottom: 5px;
    margin-top: 15px;
}
div{
    background-color: rgb(207, 255, 224);
    width: 35vw;
    height: 22vh;
    border: 1px solid black;
    border-radius: 10px;
}
h4{

    font-size: xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    margin-top: 15px;
    padding: 7px;
    border-radius: 10px;
    font-weight: bold;
}
#inp{
    height: 30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#ans{
    height: 14vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(248, 255, 149);
}